ekf_filter_node:
  ros__parameters:
    use_sim_time: true
    frequency: 50.0
    sensor_timeout: 0.2
    two_d_mode: true

    history_length: 2.0       # Puffer vergrößern
    transform_timeout: 0.05   # AMCL erlauben, kurz zu warten
    transform_time_offset: 0.0
    
    publish_tf: true
    map_frame: map
    odom_frame: odom
    base_link_frame: base_link
    world_frame: odom

    # --- INPUT 1: RF2O Laser Odometrie ---
    odom0: /rf2o_odom
    # Wir nutzen nur Geschwindigkeiten (vx, vy, vyaw)
    odom0_config: [false, false, false,
                   false, false, false,
                   true,  true,  false,
                   false, false, true,
                   false, false, false]
    odom0_differential: false
    odom0_queue_size: 10

    # --- INPUT 2: Isaac Sim Yaw (via Converter) ---
    imu0: /imu_data
    # Wir nutzen nur den absoluten Yaw-Winkel
    imu0_config: [false, false, false,
                  false, false, true,
                  false, false, false,
                  false, false, false,
                  false, false, false]
    imu0_differential: false
    imu0_queue_size: 10
